#loterijBtn{
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
}

#loterijBtn .circle{
    position: absolute;
    height: 150px;
    width: 150px;
    left: -25px;
    top: -25px;
    background-color: var(--HSV-COLOR-DARKBLUE);
    border-radius: 50%;
    z-index: 10;
    border: 5px solid var(--HSV-COLOR-YELLOW);
}

#loterijBtn .rec{
    height: 70px;
    width: calc(100% - 150px);
    background-color: var(--HSV-COLOR-DARKBLUE);
    border: 5px solid var(--HSV-COLOR-YELLOW);
    position: relative;
    top: 15px;
    left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#loterijBtn .arrow{
    position: absolute;
    z-index: 10;
    right: 0;
    top: -15px;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 100px solid var(--HSV-COLOR-DARKBLUE);
}

#loterijBtn .arrowShadow{
    position: absolute;
    z-index: -1;
    right: -9px;
    top: -25px;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 115px solid var(--HSV-COLOR-YELLOW);
}

#gewonnenLoten{
    position: relative;
    top: 90px;
}

#gewonnenLoten article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#gewonnenLoten section{
    background-color: var(--HSV-COLOR-DARKBLUE);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:30px
}

#gewonnenLoten img{
    width: 90%;
    margin-top: 10px;
}

#gewonnenTekst{
    font-size: 40px;
    text-align: center;
}

#wheelOfFortune{
    background-color: var(--HSV-COLOR-DARKBLUE);
    border: 5px solid var(--HSV-COLOR-YELLOW);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

#wheelOfFortune img{
    width: 100%;
}

#verzilverBtn{
    background-color: var(--HSV-COLOR-DARKBLUE);
    border: 5px solid var(--HSV-COLOR-YELLOW);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

#verzilverForum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    height: 70px;
}

#verzilverInput{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: var(--HSV-COLOR-DARKBLUE);
    grid-gap: 10px;
    padding: 10px;
}

#verzilverInput input{
    height:50px;
}

#verzilverInput label{
    align-items: center;
    display: flex;
    font-size: 30px;
}