.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-family: bahnschrift;
  color: #FFC045;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  max-width: 70vw;
  border-left: 10vw solid #0A91AB;
  border-right: 10vw solid #0A91AB;
  background-color: #7EC1CE;
  position: relative;
  z-index: 0;
  padding: 100px 5vw;
}
article {
  background-color: #065471;
  padding: 10px;
}
h1 {
  background-color: #065471;
  text-decoration: underline;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 35px;
  }
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: unset;
}
/*copyright*/
small {
  position: absolute;
  left: 0;
  bottom: 0;
}
/*banner*/
#bannerWrapper {
  height: 130px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 720px) {
  #bannerWrapper {
    height: 80px;
  }
}
#banner {
  width: 100%;
  bottom: -100px;
  position: absolute;
  filter: grayscale(0.5);
}
@media only screen and (max-width: 720px) {
  #banner {
    bottom: 0;
  }
}
/*footer*/
footer {
  position: relative;
  bottom: 0;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  background-color: #065471;
  justify-content: space-around;
  padding: 50px;
}
footer section {
  margin: 0;
}
footer section h3 {
  font-size: 30px;
  margin: 0;
}
footer section a {
  display: block;
}
footer section a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 720px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer section {
    margin: 10px 0;
  }
}
/*navigation*/
nav {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #065471;
  height: calc(180px / 3.75);
}
@media only screen and (max-width: 720px) {
  nav {
    height: calc(180px / 7.5);
  }
}
nav #navLogo {
  position: relative;
  height: 180px;
  top: calc(180px / 30 * -11);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  nav #navLogo {
    height: calc(180px / 2);
    top: calc(180px / 60 * -11);
  }
}
nav #navLogo span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(180px / 3.75);
  width: 180px;
  font-size: calc(180px / 8);
}
@media only screen and (max-width: 720px) {
  nav #navLogo span {
    height: calc(180px / 7.5);
    width: calc(180px / 2.2);
    font-size: calc(180px / 16);
  }
}
nav #navLogo img {
  width: 180px;
  height: 180px;
}
@media only screen and (max-width: 720px) {
  nav #navLogo img {
    height: calc(180px / 2);
    width: calc(180px / 2);
  }
}
nav #navLogo:hover {
  cursor: pointer;
}
nav #navLinks {
  position: relative;
  display: flex;
  visibility: visible;
}
nav #navLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065471;
  height: calc(180px / 3.75);
  width: calc(180px / 1.5);
  font-size: calc(180px / 8);
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (max-width: 720px) {
  nav #navLinks a {
    width: 100% !important;
  }
}
nav #navLinks a:hover {
  text-decoration: underline;
}
nav #navLinks .selected {
  color: #065471;
  background-color: #FFC045;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (max-width: 720px) {
  nav #navLinks {
    visibility: hidden;
    position: absolute;
    display: block;
    right: 0;
    top: calc(180px / 3.75);
    width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  nav #navLinks {
    top: calc(180px / 7.5);
  }
}
nav #hamburger {
  text-align: center;
  visibility: hidden;
  margin-left: auto;
  margin-right: 10px;
  height: calc(180px / 3.75);
  width: calc(180px / 3.75);
  font-size: calc(180px / 5);
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (max-width: 720px) {
  nav #hamburger {
    visibility: visible;
  }
}
@media only screen and (max-width: 720px) {
  nav #hamburger {
    height: calc(180px / 7.5);
    width: calc(180px / 7.5);
    font-size: calc(180px / 10);
  }
}
nav #hamburger:hover {
  cursor: pointer;
}
nav #pageTitle {
  visibility: hidden;
  width: 0px;
  font-size: calc(180px / 4.5);
  text-align: center;
  height: calc(180px / 3.75);
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (max-width: 720px) {
  nav #pageTitle {
    visibility: visible;
    width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  nav #pageTitle {
    height: calc(180px / 7.5);
    font-size: calc(180px / 9);
  }
}
