html{
    --HSV-COLOR-DARKBLUE: #065471;
    --HSV-COLOR-BLUE: #0A91AB;
    --HSV-COLOR-YELLOW: #FFC045;

    font-family: bahnschrift;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    width: 70vw;
    border-left: 10vw solid var(--HSV-COLOR-BLUE);
    border-right: 10vw solid var(--HSV-COLOR-BLUE);
    background-color: #7EC1CE;
    top: 90px;
    position: relative;
    z-index: -1;
    padding: 10vw 5vw;
}