.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
main img {
  width: 100%;
  height: 70%;
}
main article {
  background-color: unset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
main article span {
  width: 100%;
  display: inline-block;
  text-align: center;
}
main article section {
  background-color: #065471;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
